# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
venv
/node_modules
/.pnp
.pnp.js
../flask_backend/.venv
**/__pycache__
**/__pycache__/
__pycache__

# testing
/coverage

# production
/build

# environment
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# test files
calculate_word_count.py
demo.py

#directories
/LLM/Models
/LLM/Dataset
/torchModel

# PyCharm files
.idea

# log files
npm-start.log
chatbot.log
flask-backend/fastapi.log
flask-backend/flask.log
